<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.2 Комментарии</title>
</head>
<body>
    <h1>Задание 2.2</h1>
    <h3>Комментарии, пользователи которых созданы после выбранной даты</h3>

    {% if comments is not empty %}
        <ul>
        {% for comment in comments %}
            <li>
                <strong>Message:</strong> {{ comment.message }}<br>
                <strong>Author:</strong> {{ comment.author }}<br>
                <strong>Created:</strong> {{ comment.created }}<br>
                <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет комментариев, которые соответствуют фильтру.</p>
    {% endif %}

</body>
</html>